<!--The content below is only a placeholder and can be replaced.-->
<div class="body-calculator">
  <div class="row">
      <div class="text-view">
        <p class="input">{{opToShow}}</p>
      </div>
      <div (click) = "onPressedNumber('9')" class="child">9</div>
      <div (click) = "onPressedNumber('8')" class="child">8</div>
      <div (click) = "onPressedNumber('7')" class="child">7</div>
      <div (click) = "onPressedOP('+')" class="child">+</div>
      <div (click) = "onPressedNumber('6')" class="child">6</div>
      <div (click) = "onPressedNumber('5')" class="child">5</div>
      <div (click) = "onPressedNumber('4')" class="child">4</div>
      <div (click) = "onPressedOP('-')" class="child">-</div>
      <div (click) = "onPressedNumber('3')" class="child">3</div>
      <div (click) = "onPressedNumber('2')" class="child">2</div>
      <div (click) = "onPressedNumber('1')" class="child">1</div>
      <div (click) = "onPressedOP('*')" class="child">x</div>
      <div (click) = "onPressedClear()" class="child">CE</div>
      <div (click) = "onPressedNumber(0)" class="child">0</div>
      <div (click) = "onCalculate()" class="child">=</div>
      <div (click) = "onPressedOP('/')" class="child">/</div>

  <h1>Coded for learning Angular 7</h1>
  </div>
</div>


